<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>QUANTUM MANAGEMENT</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="icon" type="image/png" href="/images/FullSizeRender.jpg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0//css/materialize.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <nav class="nav-extended white">
            <a href="/"><img src="/images/quantum-gold-blk.jpg" class="quantum-logo" alt="logo"></a>
            <div class="nav-wrapper black-text">
                <a href="index" class="brand-logo">QUANTUM MANAGEMENT</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/"><span class="black-text">HOME</span></a></li>
                    <li><a href="/fleet"><span class="black-text">CAR RENTALS</span></a></li>
                    <li><a href="/properties"><span class="black-text">PROPERTIES</span></a></li>
                    <li><a href="/members-club"><span class="black-text">MEMBERS CLUB</span></a></li>
                </ul>
            </div>
        </nav>
        <ul class="sidenav" id="mobile-demo">
            <li><a href="/index">HOME</a></li>
            <li><a href="/carrental">CAR RENTALS</a></li>
            <li><a href="/properties">PROPERTIES</a></li>
            <li><a href="/members-club">MEMBERS CLUB</a></li>
        </ul>
    </header>
    <main>
        {{{ body }}}
    </main>
    <br><br><br><br>

    <footer class="page-footer amber accent-2">
        <div class="container">
            <div class="row">
                <div class="col l6 s12 ">
                    <br><br>
                    <h5 class="whitesmoke-text">QUANTUM MANAGEMENT</h5>
                </div>
                <div class="col l4 offset-l2 s12">
                    <a href="www.facebook.com"><img src="/images/facebook-logo.png" class="facebook" alt="facebook"></a>
                    <a href="https://www.instagram.com/luxuryrental_toronto/"><img src="/images/instagram-png-instagram-icon-1600.png"
                            class="instagram" alt="instagram"></a>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="/contact">CONTACT US</a></li>
                        <li><a class="grey-text text-lighten-3" href="/faq">FAQ</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2018 QUANTUM MANAGEMENT

            </div>
        </div>
    </footer>


    <!--components-->

    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.js"></script>
    <script type="text/javascript" src="/javascript/app.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>

</body>

</html>