<br><br>
<div class="container">
    <div class="row">
        <div class="arrow">
            <div class="line"></div>
        </div>
        <h5><strong class="newTitle"> FAQ</strong></h5>
        <div id="faq"></div>
    </div>
</div>
</div>
<br><br>
<div class="container grey-text text-darken-2">
    <h6><strong>WHAT CONDITION ARE THE CARS IN?</strong></h6><br>
    <p class="grey-text text-darken-1">
        We pride ourselves in offering our clients only the best. That being said, each vehicle is serviced by major
        dealerships, which include but are not limited to Lamborghini Uptown Toronto, & Mercedes-Benz Maples. Our cars
        have low mileage, clean interiors, are free from any cosmetic damage, and look pristine. And yes, the tires do
        have tread left on them! We ensure the cars are safe to drive and look nothing like your typical rental car.
    </p>

    <br><br>
    <h6><strong>WHAT ABOUT INSURANCE?</strong></h6><br>
    <p class="grey-text text-darken-1">
        We offer collision and comphrensive insurance.
    </p>
    <br>
    <h6><strong>DO I NEED AUTO INSURANCE IN ORDER TO RENT?</strong></h6>
    <p class="grey-text text-darken-1">
        In most cases, auto insurance is required in order to rent. A major auto insurance policy is preferred because
        in most cases it will cover the total value of the vehicle in the event of an accident. If you have auto
        insurance we require that you have full comprehensive and collision coverage. If you have minimal coverage, we
        ask that you increase it for the duration of your rental. If you are an international client or are without
        insurance here in Canada, we can still rent to you however, an increased security deposit will be
        required.
    </p>
    <br><br>
    <h6><strong>HOW OLD DO YOU HAVE TO BE IN ORDER TO RENT?</strong></h6><br>
    <p class="grey-text text-darken-1">
        We are flexible when it comes to rental age. 25 and over is the standard however, we do make exceptions
        therefore, please inquire within. Keep in mind that we may require a higher security deposit in order to rent
        if you are under the age of 25.
    </p>
    <br><br>
    <h6><strong>WHY DO YOU REQUIRE A SECURITY DEPOSIT?</strong></h6><br>
    <p class="grey-text text-darken-1">
        A damage/security deposit is required in order to rent a vehicle. If the car is returned with any damage, the
        cost is subtracted from the security deposit. The amount of the deposit ranges between $5,000 - $15,000 and
        depends on the particular vehicle and your individual insurance information. We accept all major credit cards,
        cash, or funds wired. The security deposit is indeed fully refundable if the car is returned in the same
        condition in which it was rented and no damage is present.
    </p>
    <br>
    <h6><strong>DO YOU PRICE MATCH OTHER COMPANIES OFFERING THE SAME CARS?</strong></h6><br>
    <p class="grey-text text-darken-1">
        We want to earn your business. If you locate the same car (same model, year, condition) at an alternate
        company, we will meet or beat the price they offer you. We ask that you forward us the email containing the
        quote for review.
    </p>
    <br><br>
    <h6><strong>CAN I RENT A CAR BY THE HOUR?</strong></h6><br>
    <p class="grey-text text-darken-1">
        We offer hourly rentals for production companies and photographers. A 3-hour rental minimum applies.
    </p>
    <br><br>
    <h6><strong>CAN SOMEONE PICK ME UP FROM THE AIRPORT WHEN I LAND?</strong></h6><br>
    <p class="grey-text text-darken-1">
        Advance arrangements (24-48 hours in advance) need to be made if you require a car to be delivered to the
        airport. We will ask for your airline and flight # to ensure we arrive on time for the delivery. In most cases,
        the car will be waiting for you curbside when you exit the airport. Delivery fees may apply in certain cases,
        please inquire within.
    </p>
    <br><br>
    <h6><strong>CAN THE CAR BE DELIVERED TO MY HOTEL?</strong></h6><br>
    <p class="grey-text text-darken-1">
        Advance arrangements (24 hours) need to be made if you require a car to be delivered to your hotel. A
        representative will call you once arriving to your hotel and we ask that you meet us in the lobby. Delivery
        fees may apply in certain cases, please inquire within.
    </p>
    <br><br>
    <h6><strong>CAN I PAY CASH?</strong></h6><br>
    <p class="grey-text text-darken-1">
        The rental fees and deposit can be paid in cash if that is your preferred method of payment. Once the car is
        returned in the same condition in which it was rented, we will refund your cash deposit. A credit card of some
        sort is required in the event of any unpaid parking tickets that may accumulate during the rental.
    </p>
    <br><br>
    <h6><strong>CAN I AND MY 4 FRIENDS DRIVE THE CAR IF I RENT IT?</strong></h6><br>
    <p class="grey-text text-darken-1">
        There is an $89 additional driver fee. We allow up to 2 drivers per car. Each driver must have proper auto
        insurance coverage in order to rent.
    </p>
    <br><br>
    <h6><strong>DO THE CARS HAVE NAVIGATION UNITS?</strong></h6><br>
    <p class="grey-text text-darken-1">
        Most of the vehicles have factory installed navigation units. We offer portable units for those that do not
        have units installed.
    </p>
    <br><br>
    <h6><strong>DO I NEED AN INTERNATIONAL DRIVERS LICENSE IN ORDER TO RENT?</strong></h6><br>
    <p class="grey-text text-darken-1">
        International Drivers Licenses are preferred but not required. You will need a valid driver's license from your
        country of origin in order to rent.
    </p>
    <br><br>
</div>