<div>
    <iframe width="100%" height="500" src="https://www.youtube.com/embed/HV59i0Svc3Y?rel=0&amp;controls=0&amp;showinfo=0&amp;start=5" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>
<br><br>
 <div class="container">
        <div class="row">
            <div class="arrow">
                <div class="line"></div>
            </div>
            <h5><strong class="newTitle">CAR RENTALS</strong></h5>
            <div id="members-club"></div>
        </div>
    </div>
    <div class="car-cards">
<div class="container">
         <div class="row">
    <div class="col s3">
      <div class="card">
        <div class="card-image">
          <img src="images/rollsroyceghost.jpg">
          <span class="card-title">Luxury</span>
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
        </div>
      </div>
    </div>
  </div>
     <div class="row">
    <div class="col s3">
      <div class="card">
        <div class="card-image">
          <img src="images/R8.jpg">
          <span class="card-title">Sport</span>
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
        </div>
      </div>
    </div>
  </div>
   <div class="row">
    <div class="col s3">
      <div class="card">
        <div class="card-image">
          <img src="images/458.jpg">
          <span class="card-title">Exotic</span>
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
        </div>
      </div>
    </div>
  </div>
        <div class="row">
    <div class="col s3">
      <div class="card">
        <div class="card-image">
          <img src="images/Range-Rover-Sport.jpg">
          <span class="card-title">SUV</span>
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
        </div>
      </div>
    </div>
  </div>
                           
    </div>
</div>
     <div class="container">
        <div class="row">
            <div class="arrow">
                <div class="line"></div>
            </div>
            <h5><strong class="newTitle">PROPERTIES</strong></h5>
            <div id="members-club"></div>
        </div>
    </div>

     <div class="container">
        <div class="row">
            <div class="arrow">
                <div class="line"></div>
            </div>
            <h5><strong class="newTitle">SERVICES</strong></h5>
            <div id="members-club"></div>
        </div>
    </div>