 <div class="slider">
    <ul class="slides">
      <li>
        <img src="images/Toronto.jpg"> 
        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="images/FullSizeRender7.jpg">
        <div class="caption left-align">
          <h3>Left Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="images/FullSizeRender6.jpg"> 
        <div class="caption right-align">
          <h3>Right Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
    </ul>
  </div>
<br><br>
<div class="container">
  <div class="row">
    <div class="arrow">
      <div class="line"></div>
    </div>
    <h5><strong class="newTitle">MEMBERS CLUB</strong></h5>
    <div id="members-club"></div>
  </div>
</div>
</div>
<br><br>

<div class="container">
  <p class="members">
    Enjoy a star-studded roster of luxury and exotics automobiles, worry free. Leave the cost of ownership, maintenance, insurance and depreciation to us.

Have the perfect vehicle for any weather or occasion.
</p>
</div>
<br><br><br>
<div class="container">
  <table class="striped">
      <tr>
   <th>MEMBERSHIP</th>
   <th>ACCESS FEE</th>
   <th>DISCOUNT</th>
      </tr>
      <tr>
        <td>VIP</td>
        <td>$2,500.00</td>
        <td>15%</td>
      </tr>
      <tr>
        <td>GOLD</td>
        <td>$5,000.00</td>
        <td>20%</td>
      </tr>
      <tr>
        <td>PLATINUM</td>
        <td>$7,500.00</td>
        <td>25%</td>
      </tr>
      <tr>
        <td>QUANTUM</td>
        <td>$10,000.00</td>
        <td>30%</td>
      </tr>
  </table>
</div>
<br><br><br>
<div class="container">
  <div class="row">
    <div class="arrow">
      <div class="line"></div>
    </div>
    <h5><strong class="newTitle">HOW IT WORKS</strong></h5>
  </div>
</div>
</div>
<div>
  <div class="container">
  <div class="row">
    <div class="arrow">
      <div class="line"></div>
    </div>
    <h5><strong class="newTitle">BENEFITS</strong></h5>
  </div>
</div>
</div>
  <div class="row">
    <div class="col s6">
      <img src="images/canoe-restaurant-toronto.jpg" alt="Canoe Restaurant" class="canoe"/>
    </div>
    <div class="col s5">
    <p class="benefits">
   Come for the cars, but stay for the experience. Becoming an exclusive Quantum member unlocks a world of fine dining, luxury suites and exciting night life.

Annual and semi-annual trips ensure regular servings of winding asphalt with great company. Bring your partner, mingle with your club mates and cruise together in style. 
  </p>
 </div>
  </div>
</div>