<div>
  <img src="images/Toronto.jpg" alt="toronto skyline cars" class="toronto-cars"/>
</div>
<br><br>
<div class="container">
  <div class="row">
    <div class="arrow">
      <div class="line"></div>
    </div>
    <h5><strong class="newTitle">MEMBERS CLUB</strong></h5>
    <div id="members-club"></div>
  </div>
</div>
</div>
<br><br>

<p>
    Enjoy a star-studded roster of luxury and exotics automobiles, worry free. Leave the cost of ownership, maintenance, insurance and depreciation to us.

Have the perfect vehicle for any weather or occasion.
</p>
<br><br><br>
<div class="container">
  <table>
      <tr>
   <th>MEMBERSHIP</th>
   <th>ACCESS FEE</th>
   <th>DISCOUNT</th>
      </tr>
      <tr>
        <td>VIP</td>
        <td>$2,500.00</td>
        <td>15%</td>
      </tr>
      <tr>
        <td>GOLD</td>
        <td>$5,000.00</td>
        <td>20%</td>
      </tr>
      <tr>
        <td>PLATINUM</td>
        <td>$7,500.00</td>
        <td>25%</td>
      </tr>
      <tr>
        <td>QUANTUM</td>
        <td>$10,000.00</td>
        <td>30%</td>
      </tr>
  </table>
</div>
<br><br><br>
<div class="container">
  <div class="row">
    <div class="arrow">
      <div class="line"></div>
    </div>
    <h5><strong class="newTitle">HOW IT WORKS</strong></h5>
  </div>
</div>
</div>
<div>
  <div class="container">
  <div class="row">
    <div class="arrow">
      <div class="line"></div>
    </div>
    <h5><strong class="newTitle">BENEFITS</strong></h5>
  </div>
</div>
</div>
  <img src="images/canoe-restaurant-toronto.jpg" alt="Canoe Restaurant" class="canoe"/>
  <p>
   Come for the cars, but stay for the experience. Becoming an exclusive Quantum member unlocks a world of fine dining, exclusive tours and some of the best driving in North America.

Annual and semi-annual trips ensure regular servings of winding asphalt with great company. Bring your partner, mingle with your club mates and cruise together in style. Grand Tours are led by our team of expert driving guides.
  </p>
</div>