{{!-- <br><br>
<div class="container">
    <div class="row">
        <div class="arrow">
            <div class="line"></div>
        </div>
        <h5><strong class="newTitle">PROPERTIES</strong></h5>
        <div id="members-club"></div>
    </div>
</div>
</div>
<br><br> --}}

<div class="parallax-container">
    <div class="parallax"><img src="images/FullSizeRender4.jpg"></div>
</div>
<div class="section white">
    <div class="container">
        <div class="row">
            <div class="arrow">
                <div class="line"></div>
            </div>
            <h5><strong class="newTitle">PROPERTIES</strong></h5>
            <div id="members-club"></div>
        </div>
    </div>
</div>
<br>
<div class="container">
    <p class="grey-text text-darken-3 lighten-3">Quantum offers exclusive upscale rental properties throughout Toronto.</p>
   <br>
    <p class="grey-text text-darken-3 lighten-3">If you are interested in booking one of our properties please contact us via the Booking form with details of your planned visit, alternatively, contact us directly using the phone number or email address below and one of our account supervisors will be able to assist you.</p>
<br><br>
<a class="waves-effect waves-light btn">Contact Us</a>
<br><br>
</div>
</div>
</div>
<div class="parallax-container">
    <div class="parallax"><img src="images/FullSizeRender3.jpg"></div>
</div>
<div class="section white">
  <div class="container">
      <br><br>
        <p>Our luxury suites, a bunch of text about why they should rent from us and our premier service.</p>
 <br>
 <p>Some more text about our rentals and toronto life.</p>
  </div>
</div>
<br><br>
<div class="parallax-container">
    <div class="parallax"><img src="images/FullSizeRender5.jpg"></div>
</div>