 <div>
            <img src="/assets/images//assets/images/Lamborghini.jpg" class="huracanconvert" alt="Lamborghini convertible Huracan">
            <img src="/assets/images//assets/images/gradient.png" class="gradient" alt="gradient">
            <br><br><br>
            <div id="grad">
                <h5 class="newTitle">LAMBORGHINI AVENTADOR</h5>
            <p>a bunch of stuff about this car and why its so amazing</p>
            <img src="/assets/images//assets/images/tec-specs.png" href="#techSpecs" class="tech-specs" alt="tech-spec button">
        </div>
            </div>
            <br><br><br><br><br>
            <!-- dropdown structure-->
        <ul id="dropdown1" class="dropdown-content">
                <li><a href="#!">
                <p>Lamborghini Aventador</p>
            </a></li>
        <li><a href="#!">
                <p>Lamborghini Huracan Avio</p>
            </a></li>
        <li><a href="#!">
                <p>Lamborghini Huracan</p>
            </a></li>
        <li><a href="#!">
                <p>McLaren 720S</p>
            </a></li>
        <li><a href="#!">
                <p>Ferrari Italia 458</p>
            </a></li>
        <li><a href="#!">
                <p>Mercedes S63</p>
            </a></li>
        <li><a href="#!">
                <p>BMW M235</p>
            </a></li>
        <li><a href="#!">
                <p>Audi R8</p>
            </a></li>
        <li><a href="#!">
                <p>Rolls Royce Wraith</p>
            </a></li>
        <li><a href="#!">
                <p>Rolls Royce Ghost</p>
            </a></li>
        <li><a href="#!">
                <p>Mercedes Brabus G63</p>
            </a></li>
        <li class="divider"></li>
        <li><a href="#!">
                <p>Land Rover Range Rover</p>
            </a></li>
    </ul>
            <div class="navbar-fixed">
                <nav>
                    <div class="nav-wrapper">
                        <a href="carrental" class="brand-logo"><h5>CAR RENTALS</h5></a>
                        <ul class="right hide-on-med-and-down">
                            <li><a class="dropdown-trigger btn" data-target="dropdown1">SELECT CAR<i class="material-icons right">dehaze</i></a></li>
                            <li><a class="waves-effect waves-light btn">START DATE <i class="material-icons right">date_range</i></a></li>
                            <li><a class="waves-effect waves-light btn">END DATE <i class="material-icons right">date_range</i></a></li>
                            <li><a class="waves-effect waves-light btn">RENT CAR</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
            
       
        <br>
        <div>
                <div class="container">
                    <div class="row">
                     <div class="arrow">
                             <div class="line"></div></div>
                           <h5><strong class="newTitle">LAMBORGHINI AVENTADOR</strong></h5>
                           </div>
                           </div>
                </div>
                <br>
     <div class="container">
            <p class="description">Постоји много верзија и варијација Lorem Ipsum пасуса, али већина је претрпела некакву
                    промену, било да је
                    то додавање неког хумора или насумична респодела речи која на крају не изгледа уверљиво. Ако планирате да
                    користите пасусе Lorem Ipsum модела, требало би да будете сигурни да се у средини текста не крије нека
                    сакривена или срамотна порука. Сви Lorem Ipsum генератори који се могу наћи на Интернету су направљени да
                    понављају предходно дефинисане делове, што чини овај генератор првим правим на Интернету. Он користи речник
                    од 200 латинских речи које су комбиноване са подоста шаблона реченица како би генерисао Lorem Ipsum који
                    изгледа уверљиво. То значи да овде генерисани Lorem Ipsum не садржи понављање, нема убачен хумор или неке
                    неочекиване речи и тако даље.</p>
                <br>
                <p class="description">Постоји много верзија и варијација Lorem Ipsum пасуса, али већина је претрпела некакву
                    промену, било да је
                    то додавање неког хумора или насумична респодела речи која на крају не изгледа уверљиво. Ако планирате да
                    користите пасусе Lorem Ipsum модела, требало би да будете сигурни да се у средини текста не крије нека
                    сакривена или срамотна порука. Сви Lorem Ipsum генератори који се могу наћи на Интернету су направљени да
                    понављају предходно дефинисане делове, што чини овај генератор првим правим на Интернету. Он користи речник
                    од 200 латинских речи које су комбиноване са подоста шаблона реченица како би генерисао Lorem Ipsum који
                    изгледа уверљиво. То значи да овде генерисани Lorem Ipsum не садржи понављање, нема убачен хумор или неке
                    неочекиване речи и тако даље.</p>
                <br>
     </div>
        <div>
                <div class="container">
                    <div class="row">
                     <div class="arrow">
                             <div class="line"></div></div>
                           <h5><strong class="newTitle"> TECH SPECS</strong></h5>
                           <div id="techSpecs"></div>
                           </div>
                           </div>
                </div>
                <br><br>
        <div>
            <img src="/assets/images//assets/images/lamborghini-dash.png" class="lamborghini-dash" alt="lamborghini dash">
       <img src="/assets/images//assets/images/tech-icons-huracan.png" class="tech-icons" alt="tech icons">
        </div>
        <br><br>
        <div>
               <div class="container">
                   <div class="row">
                    <div class="arrow">
                            <div class="line"></div></div>
                          <h5><strong class="newTitle"> LAMBORGHINI AVENTADOR CONVERTIBLE</strong></h5>
                          </div>
                          </div>
               </div>
               <br>
               <div class="car-models">
               <h5 class="newTitle">OTHER EXOTIC MODELS:</h5><br>
            <ul>
                <li><a href="lamborghinihuracanavio"><p class="car-description">• Lamborghini Huracan Avio</p></a></li>
                <li><a href="bentley"><p class="car-description">• Bentley Convertible</p></a></li>
                <li><a href="mclaren"><p class="car-description">• McLaren 720S</p></a></li>
            </ul>
        </div>
        <br><br><br><br><br>
        <div>
                <div class="container">
                    <div class="row">
                     <div class="arrow">
                             <div class="line"></div></div>
                           <h5><strong class="newTitle"> VIDEO</strong></h5>
                           </div>
                           </div>
                </div>
        <br>
        <iframe width="800" height="500" class="video" src="https://www.youtube.com/embed/DHk39ImlZP0?rel=0&amp;showinfo=0"
            frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>