.madski-logo {
    width: 32%;
    height: 238px;
    margin-left: 35%;
    background-color: black;
}

nav {
    background-color: #171e28 !important;
}
footer{
    background-color: #171e28 !important;
}
.exotic-banner{
    width: 90%;
    height: 500px;
    margin-left: 3%;
}
.btn{
    background-color: goldenrod;
}
.bently-image{
    width:100%;
}
p{
    color: black !important;
}
.huracanconvert{
    width:80%;
 
}
.lamborghini-dash{
    opacity: 0.5;
    filter: alpha(opacity=50); 
    height: 645px;
}
.description{
    font-size: 175%;
}
.video{
    margin-left:26%;
}