.madski-logo {
    width: 46%;
    height: 305px;
    margin-left: 26%;
    background-color: black;
}

nav {
    background-color: #171e28 !important;
}
footer{
    background-color: #171e28 !important;
}
