.madski-logo {
    width: 42%;
    height: 281px;
    margin-left: 29%;
    background-color: black;
}

nav {
    background-color: #171e28 !important;
}
footer{
    background-color: #171e28 !important;
}
.exotic-banner{
    width: 90%;
    height: 500px;
    margin-left: 3%;
}
.btn{
    background-color: goldenrod;
}
.bently-image{
    width:100%;
}
p{
    color: black !important;
}
